* {
  padding: 0px;
  margin: 0px;
  /* border: 1px solid orange */
}

body {
  font-family: calibri;
  margin: 2rem 10rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  border: 1px solid red
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}

.flex-col {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}  

input {
  height: 20px;
  padding: 0.25rem 0.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
}

button {
  border-radius: 0.25rem;
  height: 100%;
  padding: 0 .5rem;
}

h1 {margin-bottom: 2rem;}
h3 {
  margin:2rem 0;
}

ul {
  list-style-type: none;
}
li {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
  border: 1px solid gray;
  padding: .5rem;
  border-radius: .25rem;
}

span {
  margin: 0 0.5rem;
}

.flex-1 {
  flex-grow: 1;
}

